/* Estilo base do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #0090ea; /* Fundo roxo elegante */
}

header img {
    width: 40px; /* Tamanho dos ícones de navegação */
    height: 40px;
    margin-right: auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;


}

main img.avatar {
    width: 150px; /* Redimensiona o avatar */
    height: 150px;
    border-radius: 50%; /* Deixa a imagem redonda */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #eadbdb;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
}

footer img {
    width: 30px;
    height: 30px;
    filter: invert(100%); /* Deixa os ícones brancos */
}

/* Adicionando uma leve sombra e arredondamento aos botões */
footer a {
    background-color: #0090ea;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

footer a:hover {
    background-color: #03dac5; /* Muda a cor ao passar o mouse */
}


/* Organização vertical dos treinos */
.treinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.treino-item {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #6200ea;
    text-decoration: none;
    transition: color 0.3s ease;
}

.treino-item:hover {
    color: #3700b3;
}

/* Estilo para o botão de criar novo treino */
.treino-criar {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #03dac5;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.treino-criar:hover {
    background-color: #6200ea;
}

.trirong-regular {
    font-family: "Trirong", serif;
    font-weight: 400;
    font-style: normal;
    flex-grow: 1;
}
  
.trirong-black-italic {
    font-family: "Trirong", serif;
    font-weight: 900;
    font-style: italic;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}



.image_peito {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

p, li {
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}